name: shared_component
description: A new Flutter package project.
version: 1.0.1
homepage:
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  google_ui:
    path: "google-ui"
  flutter:
    sdk: flutter
    
  shared_preferences: ^2.0.17
  flutter_breadcrumb: ^1.0.1
  flutter_svg: ^2.0.0+1
  dio: ^4.0.6
  get: ^4.6.5
  layout: ^1.0.3
  flutter_dotenv: 5.0.2
  syncfusion_flutter_datepicker: ^20.4.49
  syncfusion_flutter_pdfviewer: ^20.4.49
  flutter_modular: ^5.0.3
  # mobx: ^2.1.3+1
  flutter_mobx: ^2.0.6+5
  flutter_animated_dialog: ^2.0.1
  currency_text_input_formatter: ^2.1.8
  getwidget: ^3.0.1
  dropdown_search: ^5.0.5
  graphql_flutter: 5.1.2
  file_picker_cross:
    path: "file_picker_cross-4.6.0"
  flutter_side_menu:
    path: "flutter_side_menu-0.3.1"
  quickalert: ^1.0.0
  shaky_animated_listview: ^0.0.5
  # context_menus: ^1.0.2


dependency_overrides:
  # rxdart: ^0.27.7

dev_dependencies:
  mobx_codegen: ^2.1.1
  modular_test: ^2.0.0
  build_runner: ^2.3.3
  json_serializable: ^6.6.1

  #ferry_generator: ^0.7.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  # To add assets to your package, add an assets section, like this:
  assets:
    - assets/file.svg
    - assets/empty.svg
    - assets/wonder.svg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
